@media(max-width: 576px){
    

    #capa-titulo2{
        
    }

    .numero-margem{
        margin-left: 0px;
    }

    #checklist-imagem{
        width: 320px;
        margin-left:2%;
    }

    

    #psicologia-video{
        width: 320px;
        margin-left: 2%;
    }

    .texto-centralizado-mobile{
        text-align: center;
    }

    .tamanho-imagem-mobile{
        width: 320px;
        margin-left:2%;
    }

    .tamanho-imagem-mobile-adestrador{
        width: 320px;
        padding-right: 30px;
    }

    .flex-coluna-mobile{
        flex-direction: column;
        align-items: center;
    }

    .faixa-margem{
        margin-top: 20px;
    }

    .espaco-margem{
        margin-top: 2px;
        margin-bottom: 3px;
    }

    .depoimentos-alinhamento{
        margin-left: 10%;
    }

   .tamanho-logo{
    width: 200px;
    margin-left: 45px;
   }

   .depoimentos-caixa{
    text-align:justify;
   }

   .depoimentos-caixa h1{
    text-align:center;
   }

   .rodape-alinhamento{
    text-align: center;
   }
}